/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');

body {
  font-family: sans-serif;
  padding: 20px;
}

.form {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  list-style: none;
  padding: 0;
}

.gallery-item {
  width: 300px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 8px;
}

.gallery-item img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.hidden {
  display: none;
}